body{
    background-color: black;
    color: white;
    background-image: url(fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.title{
    font-family: "Kanit", sans-serif;
    text-align: center;
    font-size: 90px;
    padding-top: 20px;
    color: black;
}
.titulo2{
    color: transparent;
    font-size: 85px;
    text-align: center;
    font-family: "Kanit", sans-serif;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}
.titulo3{
    font-family: "Kanit", sans-serif;
    font-size: 50px;
}
.parrafo{
    font-size: 30px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Quicksand", sans-serif;
    margin-top: -40px;
    color: black;
}
.div1{
    background-color: white;
    height: 410px;
    margin-top: -60px;
    width: 1351px;
    margin-left: -10px;
    box-shadow: 0 0 15px white ;
}
.div2{
    background-color: white;
    color: black;
    margin-left: -10px;
    width: 1351px;
    box-shadow: 0 0 15px white;
}
.texto{
    font-family: "Quicksand", sans-serif;
    font-size: 28px;
    text-align: left;
}
#izq{
 text-align: center;
}
#izq2{
    text-align: center;
  padding-left: 20px;
  margin-left: -21px;
}
#dere{
    text-align: center;
}
.dii{
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    width: 680px;
    height: 350px;
    overflow: hidden; 
    margin-left: 20px;
    box-shadow: 0 0 10px #FCDE54;
}
.diii{
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    width: 680px;
    height: 350px;
    overflow: hidden; 
    margin-left: 620px;
    box-shadow: 0 0 10px #FCDE54;
}
.diiii{
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    width: 680px;
    height: 350px;
    overflow: hidden; 
    margin-left: 20px;
    box-shadow: 0 0 10px #FCDE54;
}
.fondo h1{
        -webkit-background-clip:text;
        -webkit-text-fill-color: transparent;
        background-image: url(lele.jpg);
        background-attachment: fixed;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white;
}
#li{
    margin-right: 400px;
    font-size: 35px;
}
ul{
    list-style: circle;
    list-style-type: circle;
}
.fondito2{
    background-image: url(lele.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 1351px;
    margin-left: -10px;
    margin-top: -60px;
}
.loco{
    background-color: transparent;
    backdrop-filter: blur(5px);
    height:420px;
    margin-top: -40px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 15px;
    
}
.loco p{
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
}
.fondo2 h1{
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    background-image: url(fondo.jpg);
    background-attachment: fixed;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size: 90px;
}
.partes{
    background-color: white;
    height: 300px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
}
.partes:hover{
    transition: 0.65s;
    scale: 1.1;
    background-color: black;
    color: white;
}
.imagen{
    width: 170px;
    padding-left: 115px;
    padding-top: 20px;
}
.imagen2{
    width: 300px;
    padding-left: 50px;
    padding-top: 10px;
}
.imagen3{
    width: 200px;
    padding-left: 100px;
    padding-top: 10px;
}
.go{
    margin-left: 600px;
}
#si{
    margin-left: 30px;
}
#al{
    margin-left: 465px;
    margin-top: -300px;
}
#go{
  margin-left: 900px;
  margin-top: -300px;  
}
.tercer{
    background-color: white;
    color: black;
    height: 1590px;
    margin-top: -60px;
    width: 1351px;
    margin-left: -10px;
}
.subti{
    font-family: "Kanit", sans-serif;
    font-size: 45px;
    margin-left: 160px;
    margin-top: 0px;
}
#pr{
    margin-left: 140px;
    margin-top: -26px;
}
#pru{
    margin-left: 25px;
    margin-top: -16px;
}
.roco{
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
}
#AV{
    margin-left: 50px;
    font-size: 60px;
}
#prue{
    margin-left: 110px;
}
#prueba{
    margin-left: 120px;
    margin-top: -10px;
}
#prueba2{
    margin-left: 135px;
}
#videou{
    position: relative;
    margin-top: -10px;
}
video{
    height: 770px;
    width: 1351px;
    margin-left: -10px;
}
.capa{
    position: absolute;
    background-color: black;
    opacity: 0.5;
    mix-blend-mode: overlay;
    margin-top: -700px;
}
.final{
    position: relative;
    background-color: transparent;
    backdrop-filter: blur(10px);
    height: 500px;
    width: 600px;
    margin-top: -200px;
}
.transporte{
    height: 770px;
    width: 1351px;
    color: rgba(0, 0, 0, 0.541);
    position: absolute;
    text-align: center;
    font-size: 60px;
    font-family: "Kanit", sans-serif;
    margin-top: 100px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 3px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    margin-top: 0px;
    margin-left: -10px;
}
.transporte h1{
    margin-top: 200px;
}